.selectize-dropdown-content{
  .optgroup-header{
    background: #e5e7ea;
    font-weight: bold;
  }

  .bidang{
    font-weight: bold;
  }
  .sub-bidang{
    padding-left: 30px;
    font-style: italic;
  }

}
