.table-xs{
  th, td{
    padding: 0.2rem;
    font-size: .775rem;

    .tag{
      line-height: 1.5em;
    }
  }

  &.card-table tr td:first-child,
  &.card-table tr th:first-child{
    padding-left: 0.2rem;
  }

  &.card-table tr td:last-child,
  &.card-table tr th:last-child{
    padding-right: 0.2rem;
  }

  .column-number{
    th, td{
      padding: .2rem 0;
      font-weight: bold;
    }
  }
}
.table{
  tr, th{
    td{
      &.has-input{
        padding: 0;
        .form-control{
          border-radius: 0;
          border: 0;
          line-height: 1;

          &.numeric{
            text-align: right;
          }
        }

        .form-control-sm{
          height: calc(1.5rem + 2px);
          font-size: .775rem;
        }
      }
    }
  }
}
