html, body {
  font-size: 12px;
  background: #fff;
}

body {
  max-width: 8.5in;
  max-height: 11in;
  margin: 0 auto;
}

body.landscape {
  max-width: 11in;
  max-height: 8.5in;
}

body.preview {
  margin: 20px auto;
}

body.preview .print-wrapper {
  margin: 50px 0;
}

@media print {
  body.preview .print-wrapper {
    margin: 0 auto;
  }
}

@media print {
  body.preview {
    margin: 0 auto;
  }
}

body.download {
  margin: 2cm;
}

body.nomargin {
  margin: 0;
}

.terbilang {
  border: 1px solid #495057;
  padding: 3px;
  font-style: italic;
  text-align: center;
  background: rgba(0, 0, 0, 0.01);
}

.small-font {
  font-size: 8pt;
}

.text-bold {
  font-weight: 600;
}

.logo-header {
  position: absolute;
  width: 50px;
  left: 10px;
  top: 10px;
}

.header {
  position: relative;
  padding: 10px 0;
}

.header.lined {
  border-bottom: 2px solid #000;
}

.header .address {
  font-size: 10pt;
  line-height: 1.2;
  margin: 0;
}

.header-small {
  font-size: 10pt;
  line-height: 1.2;
}

.list-unstyle ol, .list-unstyle ul {
  padding: 0;
  margin: 0;
  margin-left: 5px;
}

.list-unstyle ol li, .list-unstyle ul li {
  padding-left: 15px;
}

table {
  width: 100%;
}

.table-padded-top-bottom tr td, .table-padded-top-bottom tr th {
  padding: 5px 0;
  vertical-align: top;
}

.table-padded-top-bottom tr .middle td, .table-padded-top-bottom tr .middle th {
  vertical-align: middle;
}

.table-padded-top-bottom tr .bottom td, .table-padded-top-bottom tr .bottom th {
  vertical-align: bottom;
}

.table-print td.ttd, .table-print th.ttd {
  border-width: 0;
  height: 40px;
}

.table-print td.ttd.last-right, .table-print th.ttd.last-right {
  border-right-width: 1px;
}

.table-print td.ttd.last-bottom, .table-print th.ttd.last-bottom {
  border-bottom-width: 1px;
}

.table-print td.no-border-top, .table-print th.no-border-top {
  border-top-width: 0;
}

.table-print td.no-border-left, .table-print th.no-border-left {
  border-left-width: 0;
}

.table-print td.no-border-bottom, .table-print th.no-border-bottom {
  border-bottom-width: 0;
}

.table-print td.no-border-right, .table-print th.no-border-right {
  border-right-width: 0;
}

.table-print tr td, .table-print tr th {
  padding: 5px 3px;
}

.table-print tr td.no-padding, .table-print tr th.no-padding {
  padding: 0;
}

.table-print tr th {
  background: #f1f1f1;
  text-align: center;
}

.table-print tr td.left, .table-print tr th.left {
  text-align: left;
}

.table-print tr td.right, .table-print tr th.right {
  text-align: right;
}

.table-print tr td.center, .table-print tr th.center {
  text-align: center;
}

.table-print-bordered tr td, .table-print-bordered tr th {
  border: 1px solid #111;
}

.table-condensed tr td {
  padding: 2px !important;
}

.table-vertical-align-top td, .table-vertical-align-top th {
  vertical-align: top;
}

.table-bordered-bottom td, .table-bordered-bottom th {
  border-bottom: 1px solid #111;
}

.table-bordered td, .table-bordered th {
  border-color: #000 !important;
}

.table-bordered.table-bordered--dotted td, .table-bordered.table-bordered--dotted th {
  border-style: dotted;
}

.table-sppd {
  border: 1px solid #000;
  border-top-width: 2px;
  border-bottom-width: 2px;
}

.table-sppd > table > tbody > tr > td, .table-sppd > table > tr > td {
  border: 1px solid #000;
  border-left-width: 2px;
  border-right-width: 2px;
}

.table-sppd > table > tbody > tr > td.no-border-left, .table-sppd > table > tr > td.no-border-left {
  border-left-width: 0;
}

.table-sppd > table > tbody > tr > td.no-border-right, .table-sppd > table > tr > td.no-border-right {
  border-right-width: 0;
}

.table-pengeluaran > table > tbody > tr > td, .table-pengeluaran > table > tr > td {
  border: 1px solid #000;
}

.table-dotted th {
  text-align: center;
}

.table-dotted th, .table-dotted td {
  padding: 3px;
  border: 1px dotted #000;
}

.table-dotted th.no-border-top, .table-dotted td.no-border-top {
  border-top-width: 0;
}

.table-dotted th.no-border-left, .table-dotted td.no-border-left {
  border-left-width: 0;
}

.table-dotted th.no-border-bottom, .table-dotted td.no-border-bottom {
  border-bottom-width: 0;
}

.table-dotted th.no-border-right, .table-dotted td.no-border-right {
  border-right-width: 0;
}

.table-small-padded td, .table-small-padded th {
  padding: 0 3px;
}

.landscape {
  width: 1600px;
  overflow-x: auto;
}

.landscape .container {
  width: 100%;
}

.page-break {
  margin: 50px 0;
  border-bottom: 1px dashed #ddd;
}

@media print {
  body {
    font-family: Arial;
    font-size: 12pt;
    line-height: 1.2;
  }
  .no-print {
    display: none;
  }
  .page-break {
    margin: 0;
    border: 0;
    page-break-after: always;
  }
}
